// Navigation Styles here
nav {
    width: 40%;
    .flexIt();
    justify-content: space-around;

    a {
        font-size: 1.6rem;
        font-weight: bold;
        color: @font-color;
        text-decoration: none;
    } //a
} //nav